/* Common Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
    border:none;
    list-style:none;
}

html{
    font-size: 62.5%;
}

input[type=search]{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size:1.8rem;
    letter-spacing: .2rem;
}

/* clears the ‘X’ from Internet Explorer */
    input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
    input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { display: none; }


/* End of Common Styles */


/* Section 1/Home Image & Navigation */

.logo-header{
    width:100%;
    height:59px;
    background-color:black;
}

.logo-image-wrapper{
    width:180px;
    height:100%;
    margin: 0 auto 0 auto;
}

.kingswood-logo-blk{
    width:100%;
    height:100%;
}

.home-image-and-navigation{
    width:100%;
    height:95%;
    transition: all .5s;
    position:relative;
}

.nav-list{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height: 80px;;
    display: flex;
    justify-content: space-around;
    align-items:center;
    transition: all 1s;
}

.nav-link, .sub-item{
    font-family: 'Josefin Slab', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
    letter-spacing: .15rem;
}

.nav-item:hover {
    background-color: rgba(0,0,0,0.6);
    height:100%;
    width:175px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: smooth;
}

.nav-item-dropdown:hover .dropdown{
    visibility: visible;
}

.nav-item-dropdown{
    position: relative;
}

.dropdown{
    visibility: hidden;
    position:absolute;
    top: 100%;
    left: 0;
    line-height: 32px;
    z-index:10;
    background-color: rgba(0,0,0,0.8);
    width:100%;
}

.sub-item > .nav-link{
    color:white;
}

.sub-item{
    text-align:center;
}

.homescreen-image-wrapper{
    width:100%;
    height:85vh;
}

.homescreen-image{
    width:100%;
    height:100%;
    object-fit: cover;
}

/*End of Section 1/Home Image & Navigation */

/*Home Screen Welcome*/

.welcome-with-button{
    position:absolute;
    left: 70%;
    bottom:20%;
    text-align:right;
    margin-right: 24px;
}

.welcome{
    font-family: 'Rhodium Libre', sans-serif;
    font-size: 3.2rem;
    color: white;
    letter-spacing: .1rem;
    line-height: 40px;
}

.tour-btn{
    font-family: 'Josefin Slab', serif;
    font-weight:100;
    letter-spacing: .1rem;
    font-size: 2.2rem;
    color:white;
    background-color: black;
    padding:10px;
    margin-top:12px;
    border: 1px solid white;
}

/*End of Home Screen Welcome*/

/*Section 2/Home Content*/

.about{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    color:#3f573f;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    text-align:center;
    margin: 4rem;
}

.home-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px auto 80px auto;
}

.home-written-content{
    width:35%;
    margin-left:5rem;
}

.about-para-begin{
    font-family: 'Josefin Slab', serif;
    color: #3f573f;
    font-size: 3.5rem;
    line-height: 4.2rem;
    margin-bottom: 2.5rem;
}

.about-para{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.7rem;
    line-height: 5rem;
}

.about-para-end{
    margin-left: 2rem;
}

.about-sign-off-head{
    font-family: 'Rhodium Libre', serif;
    color: #3b3d3b;
    font-size: 1.7rem;
    text-align: center;
}

.address-sign-off{
    background-color:#f9f8f5;
    margin: 0 auto 7rem auto;
    padding: 20px;
    width: 300px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 8px 10px 4px 0 rgba(0, 0, 0, 0.2);
    font-style:normal;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-align: center;
}

.img-grid{
    display:grid;
    grid-gap:5px;
    /*grid-template-columns: repeat(auto-fit,minmax(50px,1fr));*/
    grid-template-columns: repeat(11,50px);
    grid-template-rows: repeat(18,50px);
    margin-bottom: 40px;
}

.violin-img-wrapper{
    grid-column: 2/7;
    grid-row: 1/6;
}

.violin-img{
    height:100%;
    width: 100%;
    object-fit:cover;
}

.box-img{
    grid-column: 7/11;
    grid-row: 1/5;
    background-color:black;
    height: 100%;
    width: 100%;
}

.guitar-img-wrapper{
    grid-column: 2/7;
    grid-row: 6/10;
}

.guitar-img{
    height:100%;
    width: 100%;
    object-fit:cover;
}

.camera-img-wrapper{
    grid-column: 7/11;
    grid-row: 5/10;
}

.camera-img{
    height:100%;
    width: 100%;
    object-fit:cover;
}

.rectangle-img{
    grid-column: 2/11;
    grid-row: 10/12;
    background-color:black;
    height: 100%;
    width: 100%;
}

.testimonial-img-wrapper{
    grid-column:2/11;
    grid-row:12/19;
}

.testimonial-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*End of Section 2/Home Content*/

/*Section 3/Testimonial*/

.quote{
    font-size:3.9rem;
}

.testimonial-header{
    font-family: 'Josefin Slab', serif;
    font-weight: 300;
    color: #3f573f;
    font-size: 3.5rem;
    margin-bottom:2rem;
}

.testimonial-para{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    font-size: 1.7rem;
    line-height: 5rem;
    margin-bottom:30px;
}

/*End of Section 3/Testimonial*/

/*Footer*/


.footer{
    position: relative;
    width:100%;
    height:265px;  
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 90px;
}

.footer::before{
    content: "";
    background-image: url("images/IMG_0665.jpeg");
    background-size:cover;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.nav-link{
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
}

.link-1:hover,.link-2:hover,.link-3:hover,.link-4:hover,.link-5:hover,.link-6:hover,.link-7:hover{
    background-color: rgba(0,0,0,0.8);
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.link-1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.link-2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.link-3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.link-4{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.link-5{
    grid-column: 5/6;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.link-6{
    grid-column: 6/7;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.link-7{
    grid-column: 7/8;
    grid-row: 1/2;
    background-color: rgba(0,0,0, 0.6)
}

.search-icon-wrapper{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:15%;
    z-index:20;
    width:200px;
    height:12%;
}

.search-bar{
    width:100%;
    height:100%;
}

.search{
    font-size:1.6rem;
    position:absolute;
    z-index:30;
    top:23%;
    right:3%;
}

.footer::after{
    content: "";
    position:absolute;
    bottom: 0;
    opacity:70%;
    width:100%;
    height:100px;
    background-color:black;
}

/*End of Footer*/

/*Media Queries*/

.menu-btn-wrapper{
    position: relative;
}

.menu-btn{
    width:85px;
    z-index:30;
    position: absolute;
    top: 30%;
    left:1%;
    font-family: 'Josefin Slab', serif;
    font-weight:100;
    letter-spacing: .1rem;
    font-size: 2rem;
    color:white;
    background-color: black;
    padding:10px;
    margin-top:10px;
    border: 1px solid white;
    display:none;
}

@media (max-width:1023px){
    
    .menu-btn{
       display:block;
    }

    .navigation{
        display:none;
    }

    .nav-list{
        left:50%;
        transform:translateX(-50%);
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
        transition: all 1s smooth;
    }

    .nav-item:hover {
        height:12%;
        width:30%;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .tour-btn{
        font-size: 2rem;
    }

    .home-content{
        flex-direction: column;
    }

    .home-written-content{
        width: 80%;
        margin:auto;
    }

    .img-grid{
        margin: 0 auto 20px auto; 
    }

    .violin-img-wrapper, .guitar-img-wrapper{
        grid-column: 1/7;
    }

    .camera-img-wrapper,.box-img{
        grid-column: 7/12;
    }

    .rectangle-img,.testimonial-img-wrapper{
        grid-column:1/-1;
    }

    .footer{
        height:100px;
    }

    .footer::before{
        background-image: none;
        background-color:black;
    }

    .search-icon-wrapper{
        height:30%;
        bottom:30%;
    }

    .link-1:hover,.link-2:hover,.link-3:hover,.link-4:hover,.link-5:hover,.link-6:hover,.link-7:hover{
        display:none;
    }

    .link-1,.link-2,.link-3,.link-4,.link-5,.link-6,.link-7{
        display:none;
    }
}

@media (max-width:660px){
    .nav-item:hover{
        width:100%;
    }

    .welcome-with-button{
        text-align:center;
        left:50%;
        transform:translateX(-50%);
        bottom:10%;
        align-items: center;
    }

    .welcome{
        background-color: rgba(0, 0, 0, 0.2);
    }

    .img-grid{
        grid-template-columns: repeat(11,1fr);
        grid-template-rows: repeat(18,30px);
    }

}


